*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    width: 100vw;
    background-color: rgb(171, 163, 163);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 420px;
    height: 450px;
    border-radius: 30px;
    background-color: black;
}

.num-value{
    border: none;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 70%;
    margin: 10px;
    box-shadow: -4px -4px 7px 9px rgba(173, 163, 163,0.2);
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

input{
    width: 320px;
    background-color: transparent;
    border: none;
    padding: 24px;
    font-size: 24px;
    text-align: right;
    cursor: pointer;
    color: white;
}
input::placeholder{
    color: white;
    
}
.calci-keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}

.clear-btn{
    background-color: red;
}

.equals-btn{
    background-color: green;
}

.operators{
    background-color: orange;
}
.user-history{
    margin-top: 30px;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}